.ban-container {

  margin-bottom: 20px;
    display:  flex;
    border-radius: 2%;
    margin-left: 2px;
    box-shadow: 0 2px 4px black;
}


.ban-side {
  overflow-y: auto;
  width: 10px;
  border-radius: 5%;
  background-color: rgb(214, 56, 82);
}

.ban img {
    display: flex;
    width: 200px;
    border-radius: 3px;
}



.write-ban {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    margin-left:30px;
    margin-right: 30px;
    padding: 0px;
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .points {
    list-style-type: disc;
    margin-left: 20px;
    color: #121212;
  }
  
  .points li {
    margin-bottom: 10px;
  }
  
