 .container {
      display: flex; 
    align-items: center;
    justify-content: center;
     /* padding: 20px; */
     margin: 50px;
    border-radius: 2px;
  } 


  .items {
    flex: 1;
  }
  
  .counter {
    display: flex;
    align-items: center;
    justify-content: center; /* Add this line */
    color: aliceblue;
    background-color: rgb(214, 56, 82);
    box-shadow: 0 2px 4px black;
  }
  
  .counter button {
    background-color: rgb(214, 56, 82);
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .counter span {
    margin: 0 10px;
    font-size: 20px;
  }

  .ban img {
    border-radius: 2%;
  }
  